page {
  background: #fafafa;
}

.index {
  margin-top: 30px;

  .selector-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;

    .pickerA {
      display: flex;
      flex-direction: column-reverse;
      transform: translate(25px, 125px);
      .select-button {
        padding: 0px 10px;
        margin: 0 50px;
        border-radius: 10px;
        font-size: 40px;
        text-align: center;
        .icon {
          height: 70px;
          width: 70px;
          transform: translateY(10px);
          background: #b7c7b0;
          padding: 12px;
          border-radius: 80px;
        }
      }
      .selected-item {
        width: 100%;
        font-size: 30px;
        color: #333333;
        display: flex;
        justify-content: center;
      }
    }

    .pickerB {
      display: flex;
      flex-direction: column-reverse;
      transform: translateY(35px);
      .select-button {
        padding: 0px 10px;
        margin: 0 50px;
        border-radius: 10px;
        font-size: 40px;
        text-align: center;
        .icon {
          height: 70px;
          width: 70px;
          transform: translateY(10px);
          background: #b7c7b0;
          padding: 12px;
          border-radius: 80px;
        }
      }
      .selected-item {
        width: 100%;
        font-size: 30px;
        color: #333333;
        display: flex;
        justify-content: center;
      }
    }

    .pickerC {
      display: flex;
      flex-direction: column-reverse;
      transform: translate(-25px, 125px);
      .select-button {
        padding: 0px 10px;
        margin: 0 50px;
        border-radius: 10px;
        font-size: 40px;
        text-align: center;
        .icon {
          height: 70px;
          width: 70px;
          transform: translateY(10px);
          background: #b7c7b0;
          padding: 12px;
          border-radius: 80px;
        }
      }
      .selected-item {
        width: 100%;
        font-size: 30px;
        color: #333333;
        display: flex;
        justify-content: center;
      }
    }
  }

  .status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .progress-bar {
      margin: 15px 100px;
    }
    .coin-container {
      text-align: center;
      font-size: 35px;
      color: #555555;
      /*
      .icon {
        margin-right: 10px;
        transform: translateY(10px);
        width: 50px;
        height: 50px;
        background: transparent;
      }
      */
    }
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 100px;
    .single-icon-container {
      margin-left: 20px;
      .tutorial {
        border: solid 1px #b7c7b0;
        //border-radius: 50px;
        height: 70px;
        width: 70px;
        padding: 10px;
      }
      .library {
        border: solid 1px #b7c7b0;
        //border-radius: 50px;
        height: 58px;
        width: 58px;
        padding: 15px;
      }
      .icon-text {
        text-align: center;
        font-size: 30px;
        color: #777777;
        transform: translateY(-12px);
      }
    }
  }

  /*
  .text-container {
    text-align: center;
    .slogan1 {
      height: 60px;
      width: 250px;
    }
    .slogan2 {
      height: 60px;
      width: 450px;
    }
  }
  */

  .image-container {
    text-align: center;
    .image {
      border: solid 2px #c8d4c4;
      border-radius: 225px;
      padding: 30px;
      width: 400px;
      height: 400px;
      background: #fff;
    }
  }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 85px;
    .single-button {
      color: #333333;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8em;
      height: 70px;
      font-size: 35px;
      //border-radius: 10px;
      background: #d4ddd0;
      //box-shadow: 1px 2px 2px 1px white;
      /*
      &[disabled] {
        background: #f3f3f3;
        color: #777777;
      }
      */
    }
  }
  .modalImg {
    width: 35vh;
    height: 35vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .modalText {
    text-align: center;
    font-size: 32px;
    color: #555555;
  }
  .tutorial-image {
    width: 100%;
    height: 50vh;
  }
}
